<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBT - Find your footware</title>

    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <link rel="stylesheet" href="static/assets/css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">


</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/signup" method = "post">
                <h1>Create Account</h1>

                <span style = "color: red; margin: 8px;">{{signup_error_message}}</span>
                <input type="text" placeholder="Name" name = "name" required />
                <input type="email" placeholder="Email" name = "email" required/>
                <input type="password" placeholder="Password" name = "password" required/>
                <input type = "text" placeholder="Phone number" name = "phone" required/>
                <button>Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method = "post">
                <h1>Sign in</h1>

                <span style = "color: red; margin: 8px;">{{login_error_message}}</span>
                <input type="email" placeholder="Email" name = "email" required/>
                <input type="password" placeholder="Password" name = "password" required/>
                <button>Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep shopping with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, User!</h1>
                    <p>Enter your personal details and start shopping with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>


    <script src="static/assets/js/login.js"></script>

</body>

</html>